.twelveXWrapper{
	width: 100%;
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 33% 33% auto;
	grid-template-rows: 1fr 5fr 50px;
	grid-template-areas: 
	    "header header ."
	    "photo story authorGrid"
	    "footer footer footer";
}

.twelveXIntro {
	margin-left: 15px;
	font-size: 0.8em;
	line-height: 1.5em;
	grid-area: header;
	color: #0d3e32;
}

.authorPhoto {
	grid-area: photo;
	background-repeat: no-repeat;
	background-size: cover;
}

.storyInfo {
	grid-area: story;
	color: #000;
	padding: 12px;
}

.storyInfo h3 {
	margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: normal;
}

.storyInfo h2 {
	font-size: 1.4em;
    margin-bottom: 5px;
}

.storyInfo h4 {
	font-weight: normal;
    font-style: italic;
    font-size: 0.75em;
    display: inline-block;
    border-bottom: 2.5px solid;
    width: 100%;
    padding-bottom: 10px;
}

.storyInfo p {
    font-size: 1.1em;
    line-height: 1.65em;
    font-weight: bold;
}

.storyInfo h5 {
	margin-top: 50px;
    margin-bottom: 0px;
    cursor: pointer;
    color: #0d3e32;
}

.authorGrid {
	grid-area: authorGrid;
	background-color: #114F40;
	color: #fff;
}

.scrollIndicator {
	grid-area: footer;
	background-color: #114F40;
	text-align: center;
}

.scrollIndicator img{
	margin-top: -5px;
    width: 45px;
}

.readMoreButton a{
	margin-left: 0px;
	font-family: Lato;
    font-weight: bold;
}