.twelveXWrapper{
	width: 100%;
	position: relative;
	height: 100%;
	padding: 15px;
}

.storiesIntroWrapper {
	width: 40%;
}

.storiesIntroWrapper h2 {
	border-bottom: 3px solid #A4384D;
    color: #0d3e32;
}

.storiesIntroWrapper h3 {
	font-size: 1.25em;
    line-height: 1.45em;
    margin-bottom: 0.5em;
    border-bottom: 3px solid #A4384D;
}

.storiesIntroWrapper a {
	font-weight: bold;
	color: #0d3e32;
}
