.authorGrid {
	height: 350px;
}

.authorGridContainer{
	padding: 0px;
	display: grid;
	grid-gap: 0px 15px;
	grid-template-columns: calc(16.6% - 12px) calc(16.6% - 12px) calc(16.6% - 12px) calc(16.6% - 12px) calc(16.6% - 12px) auto;
  	grid-template-rows: 50% 50%;
  	width: 60%;
  	height: 100%;
}

.authorThumbnail {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
    height: 65%;
    overflow: hidden;
}

.featuredButton .authorThumbnail {
	border:3px solid #A4384D;
	background-color: #A4384D;
}

.authorButton {
	cursor: pointer;
	opacity: 0.65;
}

.authorButton.featuredButton {
	opacity: 1;
}

.authorButton p {
	font-size: 0.78em;
	line-height: 1em;
	margin: 3px 0px 0px 0px;
}

.authorButton p:first-of-type {
		font-family: "Lato";
	font-weight: bold;	
	color: #A4384D;
}


.authorSorting a {
	color: #0d3e32;
	cursor: pointer;
}

@media (max-width: 450px) {
	.authorGridContainer {
		grid-template-columns: calc(33% - 10px) calc(33% - 10px) auto;
  		grid-template-rows: 25% 25% 25% 25%;
	}

	.authorGrid {
		height: 500px;
		margin-bottom: 25px;
	}



}