.authorListHolder {
	width: 100%;
}

.authorListHolder h2 {
    margin-bottom: 35px;
    margin-top: 15px;
    width: 100%;
    color: #0d3e32;
	font-size: 1.25em;
    line-height: 1.45em;
    border-bottom: 3px solid #A4384D;
}

.authorSorting.underlineLink a:first-child {
	margin-left: 0px;
}

.authorColumns {
	-webkit-columns: 2;
	columns: 2;
	margin-bottom: 50px;
}

.showOnSmall {
	display: none;
}

.authorListHolder h3 {
	font-size: 1.25em;
	margin-bottom: 5px;
	border-bottom: 2px solid #0d3e32;
	color: #0d3e32;
}

.authorColumns ul {
	margin:0px;
}

.authorColumns li {
	list-style: none;
	margin-bottom: 5px;
	cursor: pointer;
}

.authorColumns li:hover {
	text-decoration: underline;
}

.authorColumns li a {
	font-weight: normal;
	color: #000;
}

.activeAuthorSpan {
	font-weight: bold;
}

@media (max-width: 800px) {
	.authorListHolder {
		width: calc(100% - 30px);
	}

	.authorListHolder h2 {
		width: 50%;
	}	

}


@media (max-width: 600px) {

	.authorColumns {
		-webkit-columns: 1;
		columns: 1;
	}

	.authorSorting {
		font-size: 70%;
	}
}

@media (max-width: 450px) {

	.authorListHolder h2 {
		width: 100%;
	}

	.authorColumns {
		display: none;
	}

	.showOnSmall {
		display: initial;
	}
}