.authorListHolder{
	max-height: 50%;
}

.authorListHolder h2 {
	margin-left: 15px;
    margin-bottom: 35px;
    margin-top: 15px;
    border-bottom: 3px solid #0d3e32;
    width: calc(50% - 20px);
    color: #0d3e32;
}

.authorColumns {
	-webkit-columns: 4;
	columns: 4;
	margin: 10px 15px 30px;
}

.authorListHolder h3 {
	font-size: 1.25em;
	margin-bottom: 5px;
	border-bottom: 2px solid #0d3e32;
	color: #0d3e32;
}

.authorColumns ul {
	margin:0px;
}

.authorColumns li {
	list-style: none;
	margin-bottom: 5px;
	cursor: pointer;
}

.authorColumns li:hover {
	text-decoration: underline;
}

.activeAuthorSpan {
	font-weight: bold;
}