.authorGrid {
	height: 300px;
}

.authorGridContainer{
	padding: 0px;
	display: grid;
	grid-gap: 0px 15px;
	grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 17%;
  	grid-template-rows: 50% 50%;
  	width: 60%;
  	height: 100%;
}

.authorThumbnail {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
    height: 70%;
    overflow: hidden;
}

.featuredButton .authorThumbnail {
	border:2px solid #fff;	
}

.authorButton {
	cursor: pointer;
	opacity: 0.65;
}

.authorButton.featuredButton {
	opacity: 1;
}

.authorButton p {
	font-size: 0.78em;
	line-height: 1em;
	margin: 3px 0px 0px 0px;
}

.authorSorting {
	background-color: #114F40;
}

.authorSorting a {
	color: #fff;
	cursor: pointer;
}