.footer {
	z-index: 3;
	width: 100%;
	position: absolute;
	height: 50px;
	bottom: 0px;
	color: #0d3e32;
}

.social {
	text-align: right;
	font-size: 2.5em;
}

.social svg {
	margin-right: 5px;
	cursor: pointer;
}

.contact {
	font-size: 0.8em;
	padding-left: 5px;
}

.contact p {
	margin-bottom: 0px;
	line-height: 1.35em;
}