.headerContainer {
  height:50px;
	padding-top: 3px;
  position: fixed;
  top:0px;
  width: 100%;
  left: 0px;
  z-index: 0;
}

.pageName {
  color: #fff;
  margin-left: 10%;
}

@media (min-width: 1800px) {
  .headerContainer {
    width: 1800px;
    width: 1800px;
    left: 50%;
    margin-left: -900px;
  }
}