.headerContainer {
	height: 150px;
	padding-top: 3px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  background-color: #0d3e32;
  position: fixed;
  top:0px;
  width: 67%;
  left: 0px;
  z-index: 0;
}

.headerContainer.minimalHeader {
  -webkit-clip-path: none;
  clip-path: none;
  height:40px;
  position: relative;
  width:100%;
}

.headerContainer a {
	margin-left: 15px;
	padding-top: 5px;
	color: #fff;
	position: relative;
	overflow: hidden;
	padding-bottom: 0px;
	display: inline-block;
	text-decoration: none;
}

.headerContainer a span {
	display: inline-block;
}

.headerContainer a:hover span:after,
.headerContainer a:focus span:after,
.headerContainer a:active span:after,
.headerContainer .activeHeaderLink span:after{
  transform: translate3d(0, 0, 0);
  background-color:  #efc731;
}

.headerContainer a span{
  position: relative;
  overflow: hidden;
  padding-bottom: 0px;
  display: inline-block;
}

.headerContainer a span:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: 0;

  transform: translate3d(-105%, 0, 0);
  background-color:#fff;
  transition: transform .2s ease-in, background-color .2s;
}

.pageName {
  color: #fff;
  margin-left: 10%;
}
