html {
	background-color: #f8f0d6;
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
    background-size: 100% 400%;
}

.indexBg{
	background-image: url("../images/home_page/bg.svg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 400%;
    top:0px;
    left: 0px;
}

.bgOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	background-image: url("../images/home_page/bg_overlay.svg");
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
    background-size: 100% 108.59375%;
    pointer-events: none;
}

.image_clip {
	margin-left:50%;
	width: 50%;
	height: 100%;
	background-color: #fff;
	-webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image_clip:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,rgba(239, 199, 49, 0.55),rgba(0, 0, 0, 0.8));
}

.info_holder{
	position: absolute;
	width: 50%;
	color: #0d3e32;
	top: 40%;
    transform: translateY(-50%);
    margin-left: 5%;
}

.info_holder p {
	margin-left: 20%;
	line-height: 1.2em;

}

.centropaLogo {
	margin-bottom: 0px;
}

.authorInfoHolder {
	position: absolute;
    z-index: 2;
    bottom: 15%;
    right: 10px;
    width: 45%;
    text-align: right;
}

.authorInfoHolder p{
	margin-bottom: 0px;
	padding: 0px 10px;
	color: #fff;
	font-size: 0.8em;
}

.authorInfoHolder a {
	font-weight: bold;
	color: #efc731;
	display: inline-block;
}

.footerHolder {
	position: absolute;
	bottom: 0px;
	left: 10px;
	color: #0d3e32;
	font-size: 0.7em;
}

.footerHolder p {
	margin-bottom: 0px;
}