html {
	background-color: #f8f0d6;
	background-repeat: no-repeat;
    background-origin: content-box;
    background-position: top;
    background-size: 100% 400%;
}

.svgGroup {
	width: 100%;
	text-align: center;
    height: 100%;
    float: left;
}

.svgGroup svg {
	width: 325px;
    height: 440px;
    margin-top: -220px;
    position: absolute;
    top: 50%;
    margin-left: -162.5px;
}

.mondrianHolder {
	width: 0%;
    height: 100%;
    background-color: #0d3e32;
	float: right;
    border-left: 10px solid #0d3e32;
}

.afterIntroTransformed {
    width: 50%;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.grid1{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "grid0 grid1 grid2"
        "grid3 grid3 grid4"
        "grid3 grid3 grid5"
        "grid7 grid8 grid6"
        "grid7 grid8 grid9";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.monGrid div {
    background-size: cover;
    background-repeat: no-repeat;
}

.gridText {
    text-align: center;
    padding: 10px 0px;
}

.gridText p {
    margin-bottom: 0em;
    font-family: "Lato";
    font-weight: bold;
}

.gridText p:nth-child(2n) {
    font-style: italic;
    font-family: "Alegreya";
    font-weight: normal;
}

