.layoutColumns {
	height: auto;
}

.layoutColumns h2 {
	border-bottom: 3px solid #2A8FA3;
	color: #0d3e32;
}

.multiColumnWrapper {
	width: 80%;
	margin-left:20%; 
	position:relative;
}

.controlColumn {
	width: calc(20% - 10px);
	position: fixed;
	padding-left: 15px;
	padding-right: 0px;
}

.controlColumn h2 {
	font-size: 1.25em;
	line-height: 1.45em;
	margin-bottom: 0.5em;
}

.contentColumn {
	width:60%;
	margin-left: 0%;
	padding-right: 15px;
	float: left;
}

.mediaColumn {
	width:40%;
	top:35px;
	float: right;
	overflow: visible;
}

.mediaColumn img{
	height: auto;
	width: 100%;
}


@media (min-width: 1800px){
	.controlColumn {
		width: 350px;
	}
}