.bgLayers {
	position: absolute;
	width: 100%;

}

.bgLayers > div{
	position: absolute;
	background-size: cover;
	background-position: center;
}

.bgLayers > div > div {
    top: calc(100% - 15px);
    left: 15px;
    position: absolute;
    font-size: 1em;
}

.bgLayers > div > div h4 {
	background-color: #EFC835;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 0.85em;
}

.imageCols{
	position: relative;
}

.bgSquares div{
	background-color: #2A8FA3;
}