.bgLayers {
	position: absolute;
	width: 100%;

}

.bgLayers > div{
	position: absolute;
    max-width: 300px;
    max-height: 400px;
}

.bgLayers div {
        background-size: cover;
    background-position: center;
}


.bgLayers > div > div {
    background-size: cover;
    background-position: center;
    top: calc(100% - 15px);
    left: 15px;
    position: absolute;
    font-size: 1em;
}

.bgLayers > div > div > div{
top: calc(100% - 15px);
    left: 15px;
    position: absolute;
    font-size: 1em;
    }

.bgLayers > div > div h4 {
	background-color: #EFC835;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 0.85em;
}

.imageCols{
	position: relative;
    perspective: 2px;
}

.bgSquares div{
	background-color: #2A8FA3;
}

.bgExcerpts div > div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 15px;
}

.bgExcerpts div p {
    font-size: 0.7em;
    line-height: 1.5em;
    margin-bottom: 0px;
    text-align: right;
    color: #2A8FA3;
    font-family: "Lato";
    font-weight: bold;
}

.bgExcerpts div > p:first-child {
    color: #0d3e32;
    font-style: italic;
    text-align: left;
    font-family: "Alegreya";
}