.bgLayers {
	position: absolute;
	width: 100%;

}

.bgLayers div{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
}

.imageCols{
	position: relative;
}

.bgSquares div{
	background-color: #2A8FA3;
}