.menuColumns {
	height: auto;
}

.controlColumn {
	width: calc(20% - 10px);
	position: fixed;
	padding-left: 15px;
	padding-right: 0px;
}

.foodColumn {
	width:60%;
	margin-left: 0%;
	padding-right: 15px;
	float: left;
}

.mediaColumn {
	width:40%;
	top:35px;
	float: right;
	overflow: visible;
}

.mediaColumn img{
	height: auto;
	width: 100%;
}

.mediaBg {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}

.menuColumns h2 {
	border-bottom: 3px solid #2A8FA3;
	color: #0d3e32;
}

.controlColumn h2 {
	font-size: 1.25em;
	line-height: 1.45em;
	margin-bottom: 0.5em;
}

.menuWrapper {
	width: 80%;
	margin-left:20%; 
	position:relative;
}

@media (max-width: 850px) {
	.controlColumn {
		display: none;
	}

	.menuWrapper {
		width: calc(100% - 35px);
		margin-left:35px; 
		position:relative;
	}

}


@media (max-width: 550px) {
	.mediaColumn {
		display: none;
	}

	.foodColumn {
		width: calc(100% - 15px);
	}
}