.controlColumn {
	width:20%;
	position: fixed;
}

.foodColumn {
	width:60%;
	margin-left: 0%;
	padding-right: 15px;
	float: left;
}

.mediaColumn {
	width:40%;
	height: 100%;
	position: sticky;
	top:-1px;
	float: right;
}

.mediaColumn img{
	height: auto;
	width: 100%;
}

.menuColumn {
	margin-top: 35px;
}

.mediaBg {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}