.controlColumn {
	width:20%;
	position: fixed;
	padding-left: 15px;
	padding-right: 15px;
}

.foodColumn {
	width:60%;
	margin-left: 0%;
	padding-right: 15px;
	float: left;
}

.mediaColumn {
	width:40%;
	height: 100%;
	position: sticky;
	top:35px;
	float: right;
}

.mediaColumn img{
	height: auto;
	width: 100%;
}

.mediaBg {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}

.menuColumns h2 {
	border-bottom: 3px solid #0d3e32;
	color: #0d3e32;
}

.controlColumn h2 {
	font-size: 1.25em;
	line-height: 1.45em;
}