html{
	/*background-image: none;*/
}

.menuEntry {
	width: 50%;
	float: left;
	height: 120px;
}

.menuItemHeading h3{
	margin-bottom: 10px;
}

.menuItemName {
	display: inline-block;
	float: left;
}

.menuItemPrice {
	display: inline-block;
	float: right;
	margin-right: 75px;
}

.menuSection {
	width: 100%;
	margin-bottom: 50px;
}

.menuSection .menuEntry:last-of-type {
	content: "";
	display: table;
	clear: both;
}

.menuSection h2 {
	text-align: center;
	border-bottom: 3px solid #0d3e32;
	color: #0d3e32;
}

.menuItemGroups:after {
  content: "";
  display: table;
  clear: both;
}

.menuDescription {
	margin-bottom: 0.1rem;
}

.menuTags {
	font-size: 0.8em;
	font-style: italic;
}



@media (max-width: 850px) {
	.menuEntry {
		width: 100%;
	}

}