html{
	/*background-image: none;*/
}

.menuEntry {
	width: 100%;
	margin-bottom: 1.45em;
}

.menuItemHeading h3{
	margin-bottom: 10px;
}

.menuItemName {
	display: inline-block;
	float: left;
	width: calc(100% - 100px)
}

.menuItemPrice {
	display: inline-block;
	float: right;
	width: 100px;
	text-align: right;
}

.menuSection {
	width: 100%;
	margin-bottom: 50px;
	width:100%;
	margin-top: 50px;
}

.menuSection .menuEntry:last-of-type {
	content: "";
	display: table;
	clear: both;
}


.menuItemGroups:after {
  content: "";
  display: table;
  clear: both;
}

.menuDescription {
	margin-bottom: 0.1rem;
}

.menuTags {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 0px;
}

.menuIcon {
	cursor: pointer;
	opacity:0.5;
}

.menuIcon.activeImageIcon {
	opacity:1;
}




@media (max-width: 850px) {
	.menuEntry {
		width: 100%;
	}

}