.slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.indexCard {
	width: 80%;
	height: auto;
	margin: 0 auto;
	position: relative;

}

.indexCardImg {
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
	clip-path: circle(50% at center);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.indexCardInfo {
	width: calc(100% - 300px);
	height: 100%;
	position: relative;
	float: right;
	padding: 25px 0px 0px 25px;
}

.indexCardInfo h1 {
	color: #0D3E32;
}

.indexCardInfo p {
	font-size: 1.25em;
	line-height: initial;
}

.slideSketch{
	width:100%;
}

.slideImg {
	float: left;
	width: 300px;
	position: relative;
}

@media (max-width: 800px) {
	.slideImg {
		display: block;
		float: none;
		margin: 0 auto;
		width: 100%;
	}

	.indexCardInfo {
		width: 100%;
		float: none;
		padding: 0px;
	}

	.indexCard {
		width: 90%;
	}

	.indexCardInfo h1 {
		margin-bottom: 0.8rem;
	}

	.slide {
	    height: 100%;
	    margin: 25px 0px 40px 0px;
	}

	.child {
	    width: 100%;
	    position: relative;
	    min-height: 100%;
	}


}

@media (max-width: 400px) {
	.indexCardInfo h1 {
		font-size: 1.4em;
	}
	}